.container {
  display: flex;
  gap: 100px;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.title {
  font-size: 54px;
}
.subtitle {
  color: var(--btn);
}
.desc {
  font-size: 20px;
  font-weight: 300;
}
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .num {
      color: var(--btn);
    }
  }
}
.imgContainer {
  flex: 1;
  position: relative;
  .img {
    object-fit: contain;
  }
}
@media (width < 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .boxes {
    flex-direction: column;
    gap: 50px;
  }
}