:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: orange;
  }
}

button {
  cursor: pointer;
  border: none;
}

.container {
  /* background-color: rebeccapurple; */
  width: 1536px;
  margin: auto;
  padding: 0 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (width < 1536px) {
  .container {
    width: 1366px;
  }
}
@media (width < 1366px) {
  .container {
    width: 1280px;
  }
}
@media (width < 1280px) {
  .container {
    width: 1024px;
    padding: 0 20px;
  }
}
@media (width < 1024px) {
  .container {
    width: 768px;
  }
}
@media (width < 768px) {
  .container {
    width: 640px;
  }
}
@media (width < 640px) {
  .container {
    width: 475px;
  }
}
@media (width < 475px) {
  .container {
    width: 380px;
  }
}